# .gitignore for Authentication

GPGSIds.cs*

/[Aa]ssets/Editor*
/[Aa]ssets/ExternalDependencyManager*
/[Aa]ssets/FacebookSDK*
/[Aa]ssets/GooglePlayGames*
/[Aa]ssets/Plugins*
/[Aa]ssets/StreamingAssets*

/[Pp]roject[Ss]ettings/GvhProjectSettings.xml
/[Pp]roject[Ss]ettings/AndroidResolverDependencies.xml
/[Pp]roject[Ss]ettings/GooglePlayGameSettings.txt
