# .gitignore for Authentication

/[Aa]ssets/Editor*
/[Aa]ssets/ExternalDependencyManager*
/[Aa]ssets/FacebookSDK*
/[Aa]ssets/Plugins*
/[Aa]ssets/StreamingAssets*

/[Pp]roject[Ss]ettings/GvhProjectSettings.xml
