# .gitignore for Authentication

GPGSIds.cs*

/[Aa]ssets/AppleAuth*
/[Aa]ssets/AppleAuthSample*
/[Aa]ssets/Editor*
/[Aa]ssets/FacebookSDK*
/[Aa]ssets/GooglePlayGames*
/[Aa]ssets/GoogleSignIn*
/[Aa]ssets/Parse*
/[Aa]ssets/PlayServicesResolver*
/[Aa]ssets/Plugins*
/[Aa]ssets/StreamingAssets*

/[Pp]roject[Ss]ettings/AndroidResolverDependencies.xml
/[Pp]roject[Ss]ettings/GooglePlayGameSettings.txt
